/* dashboard.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #800080; /* Purple */
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #FFD700; /* Gold */
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: #FFD700; /* Gold */
    color: #800080; /* Purple */
    border-radius: 5px;
}

h1 {
    color: lightgray;
    background: linear-gradient(90deg, rgb(75, 0, 130) 30%, rgb(179, 179, 179) 100%); /* Dark purple to white gradient */
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: pulseAnimation 2s ease-out;
}

#file-name {
    text-align: center;
    margin: 10px 0;
    font-size: 1.1em;
    color: #333;
}

/* ... rest of your CSS ... */


/* Keyframes for the pulse animation */
@keyframes pulseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #800080;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Style for wipe data button */
.wipe-button {
    display: inline-block; /* Inline block for sizing */
    background-color: rgb(186, 46, 46); /* Red background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for size */
    margin: 20px 0; /* Margin for spacing */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold font */
    text-decoration: none; /* Remove underline from link */
    float: right; /* Float to the right */
}

.wipe-button:hover {
    background-color: #580000; /* Darker red on hover */
}

/* Clearfix for the float */
.header-area::after {
    content: "";
    clear: both;
    display: table;
}

/* Chart container styling */
.chart-container {
    max-width: 600px; /* Set the maximum width of the chart */
    margin: 0 auto; /* Center the chart horizontally */
    padding: 20px; /* Add some padding around the chart */
}

.loadingBar {
    width: 0;
    height: 20px;
    background-color: #4CAF50;
    transition: width 2s;
}

#loadingContainer p {
    text-align: center;
    margin-top: 5px;
}
